<div class="border-t-4 border-orange-500 mx-0 pl-0 pr-0 pb-2 pt-2 fixed bottom-0 w-full bg-zinc-800">
    <div class="flex justify-between px-5">
        <a href="/characters/{{ data.uuid }}/base" class="text-xl">
            <i class="fa-solid fa-user"></i>
        </a>
        <a href="/characters/{{ data.uuid }}/combat" class="text-xl">
            <i class="fa-solid fa-khanda"></i>
        </a>
        <a href="/characters/{{ data.uuid }}/abilities" class="text-xl">
            <i class="fa-solid fa-graduation-cap"></i>
        </a>
        <a href="/characters/{{ data.uuid }}/inventory" class="text-xl">
            <i class="fa-solid fa-suitcase"></i>
        </a>
        <a href="/characters/{{ data.uuid }}/notes" class="text-xl">
            <i class="fa-solid fa-scroll"></i>
        </a>
        <a href="/characters" class="text-xl">
            <i class="fa-solid fa-house"></i>
        </a>
    </div>
</div>
