{% extends 'index.html' %}
{% block content %}
{% include 'character_sheet/components/heading.html' %}
{% include 'character_sheet/components/stats.html' %}

<div class="mx-2 my-3">
    <form method="POST" action="/characters/{{ data.uuid }}/melee/edit" class="grid grid-cols-2 gap-2">
        <label>Weapon</label>
        <input type="text" name="name" placeholder="Sword" class="p-1 text-black" value="{{ key }}">

        <label>Bonus to hit</label>
        <input type="number" name="hit_bonus" placeholder="7" class="p-1 text-black" value="{{ form.hit_bonus }}">

        <label>Damage Bonus</label>
        <input type="number" name="damage_bonus" placeholder="5" class="p-1 text-black" value="{{ form.damage_bonus }}">

        <label>Hit Dice</label>
        <select name="hit_dice" class="text-gray-400" class="p-1 text-black">
            <option value="d4" {% if form.damage == "d4" %}selected{% endif %}>d4</option>
            <option value="d6" {% if form.damage == "d6" %}selected{% endif %}>d6</option>
            <option value="d8" {% if form.damage == "d8" %}selected{% endif %}>d8</option>
            <option value="d10" {% if form.damage == "d10" %}selected{% endif %}>d10</option>
            <option value="d12" {% if form.damage == "d12" %}selected{% endif %}>d12</option>
        </select>

        <label>Range</label>
        <input type="text" name="distance" placeholder="5ft." class="p-1 text-black" value="{{ form.distance }}">

        <label>Damage Type</label>
        <input type="text" name="damage_type" placeholder="Slashing" class="p-1 text-black" value="{{ form.damage_type }}">

        <button type="submit" class="col-span-2 mx-5 p-3 bg-orange-500">Update</button>
    </form>
</div>

{% endblock %}
