{% with values=data.combat %}
<div class="text-xl">
    <div class="flex gap-2 justify-center align-center">
        <div class="border-2 border-white p-2">
            <p>{{ values.armor }} AC</p>
            <p class="text-sm text-center"></p>
        </div>
        <div class="flex border-2 border-white p-2 {% if values.health.temporary %}text-base{% endif %} items-center">
            <div>{{ values.health.value }}</div>
            {% if values.health.temporary %}<div>+{{ values.health.temporary }}</div>{% endif %}
            /
            <div>{{ values.health.total }} HP</div>
        </div>
        <div class="border-2 border-white p-2">
            <p>{{ values.speed }} ft.</p>
        </div>
        <div class="text-xs border-2 border-white p-2">
            {% for hp_dice in values.hit_dices %}
            {{hp_dice.value}} / {{hp_dice.total}} {{hp_dice.type}}
            <br />
            {% endfor %}
        </div>
    </div>
</div>
{% endwith %}
