<div>
    <div class="flex gap-2">
        <div>
            <img src="{{ data.avatar }}" class="max-w-[100px] rounded border-2 border-orange-500" />
            <div class="w-[30px] h-[30px] mx-auto border-2 border-orange-500 bg-black text-center relative bottom-5">{{ data.total_level }}</div>
        </div>
        <div>
            <p class="text-xl border-b-2 mb-2">{{ data.name }}</p>
            <p>{{ data.race_class_text }}</p>
            <p>Prof. bonus: +{{ data.proficiency_bonus }}</p>
            {% if data.inspiration %}<p>Inspiration: +{{ data.inspiration }}</p>{% endif %}
        </div>
    </div>
</div>
