{% with values = data.character %}
<div>
    <div class="flex gap-2">
        <div>
            <img src="{{ values.avatar }}" class="max-w-[100px] rounded border-2 border-orange-500" />
            <div class="w-[30px] h-[30px] mx-auto border-2 border-orange-500 bg-black text-center relative bottom-5">{{ values.total_level }}</div>
        </div>
        <div>
            <p class="text-xl border-b-2 mb-2">{{ values.name }}</p>
            <p>{{ values.race_class_text }}</p>
            <p>{{ values.alignment }}</p>
            <p>Prof. bonus: +{{ values.proficiency_bonus }}</p>
            {% if values.inspiration %}<p>Inspiration: +{{ values.inspiration }}</p>{% endif %}
            <p>{% for class in values.classes %}{{class.name}} ({{class.level}}) {% endfor %}</p>
        </div>
    </div>
</div>
{% endwith %}