{% with values=data.melee %}
<div class="mx-2 my-3">
    <div class="flex justify-between">
        <p class="text-xl mb-2">Melee</p>
        <a href="/characters/{{ data.uuid }}/melee" class="text-blue-500">Edit</a>
    </div>
    <hr />
    {% for name, attack in values.items() %}
    <div class="border-b border-white ml-5 my-1 grid grid-cols-4">
        <p>{{ name }}</p>
        <p>+{{ attack.hit_bonus }} / {{attack.damage}}+{{ attack.damage_bonus }}</p>
        <p class="text-right">{{ attack.distance }}</p>
        <p class="text-right">{{ attack.damage_type }}</p>
    </div>
    {% endfor %}
</div>
{% endwith %}
