<div class="mt-5">
    <p class="text-xl mb-2">Passives</p>
    <div class="flex justify-between">
        <div class="flex gap-1">
            <div class="border border-white rounded-full w-[30px] h-[30px] text-center">{{
                data.render_passives.perception }}
            </div>
            <p>Perception</p>
        </div>
        <div class="flex gap-1">
            <div class="border border-white rounded-full w-[30px] h-[30px] text-center">{{
                data.render_passives.investigation }}
            </div>
            <p>Investigation</p>
        </div>
        <div class="flex gap-1">
            <div class="border border-white rounded-full w-[30px] h-[30px] text-center">{{ data.render_passives.insight
                }}
            </div>
            <p>Insight</p>
        </div>
    </div>
</div>