{% with values=data.spells %}
<div class="mx-2 my-3 mt-5">
    <div class="flex justify-between">
        <p class="text-xl mb-2">Spell Slots <sup class="text-xs">{{ values.cast_from }}</sup></p>
        <p class="text-xl">Atk: + {{values.to_hit }}</p>
        <p class="text-xl">Save: {{ values.saving }}</p>
        <form action="/characters/{{ data.uuid }}/restore_spell_slots" method="POST">
            <button class="text-white text-green-500 px-2 py-1" type="submit">Reset</button>
        </form>
    </div>

    <hr/>
    <div class="my-2">
        {% for level, spell_info in values.spell_slots.items() %}
        <div class="flex">
            <p class="text-xl pr-2">{{level}} <sup>st</sup></p>
            {% for slot in range(spell_info.total) %}
            {% if slot < spell_info.value %}
            <form action="/characters/{{ data.uuid }}/remove_spell_slot" method="POST">
                <input type="hidden" name="level" value="{{ spell_info.level }}">
                <button class="w-[35px] h-[35px]" type="submit">
                    <i class="fa-solid fa-star"></i>
                </button>
            </form>
            {% else %}
            <form action="/characters/{{ data.uuid }}/add_spell_slot" method="POST">
                <input type="hidden" name="level" value="{{ spell_info.level }}">
                <button class="w-[35px] h-[35px]">
                    <i class="fa-regular fa-star"></i>
                </button>
            </form>
            {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>
{% endwith %}