<div class="w-[94%] border-t-4 border-orange-600 fixed bottom-0 mx-0 mb-5 pt-2 left-[3%]">
    <div class="flex justify-between px-5">
        <a href="/characters/{{ data.id }}/base" class="text-xl">
            <i class="fa-solid fa-user"></i>
        </a>
        <a href="/characters/{{ data.id }}/combat" class="text-xl">
            <i class="fa-solid fa-khanda"></i>
        </a>
        <a href="/characters/{{ data.id }}/tools" class="text-xl">
            <i class="fa-solid fa-hammer"></i>
        </a>
        <a href="/characters/{{ data.id }}/actions" class="text-xl">
            <i class="fa-solid fa-graduation-cap"></i>
        </a>
        <a href="/characters/{{ data.id }}/inventory" class="text-xl">
            <i class="fa-solid fa-suitcase"></i>
        </a>
        <a href="/characters/{{ data.id }}/notes" class="text-xl">
            <i class="fa-solid fa-scroll"></i>
        </a>
        <a href="/characters" class="text-xl">
            <i class="fa-solid fa-house"></i>
        </a>
    </div>
</div>
